@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

.section-light {
  @apply bg-white text-black;
}

.section-dark {
  @apply bg-black text-white;
}

@layer utilities {
  .spin-slow {
    animation: spin 6s linear infinite;
  }
  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
